body {
    background-color: beige;
}

@font-face {
    font-family: "hi";
    src: url(Fonts/Roboto_Condensed/OFL.txt);
}

.news>h1 {
    color: blue;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;

}

.news>h1:hover {
    text-shadow: 2px 2px 2px #000;
}

.news>p {
    font-size: 20px;
}

.news>p::first-letter {
    color: red;
    font-size: 70px;
    font-family: "hi";
    text-align: justify;
}

.news>p::first-line {
    color: rgb(73, 9, 137);
}

.news>a {
    text-decoration: none;
}


.news>footer {
    font-style: italic;
    text-align: center;
    font-size: large;
}